/* styles.css */
.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.sb-sidenav {
    background-color: #FF5722;
}

.nav-link {
    color: white !important;
}

    .nav-link:hover {
        color: #FFC107 !important;
    }

.sb-sidenav-footer {
    background-color: #E64A19;
    color: white;
}
