# Visual Studio Specific
.vscode/
*.user
*.suo
*.cache
*.csproj.user
*.vspscc
*.vssscc
*.dbmdl
*.pfx
*.publishsettings
*.pidb
*.pidb.lock

# Build Results
bin/
obj/
Debug/
Release/
TestResults/
*.appxupload
*.nupkg
*.snupkg

# IIS Express
/.vs/
iisexpress/
iisexpress/.vs

# User-specific Files
*.rsuser
*.sln.docstates
*.userprefs
*.sln.cache

# ASP.NET Files
App_Data/
App_Logs/
*.log
*.bak
*.config.user
*.db



# SQL Server
*.mdf
*.ldf
*.bak

# Publishing
.publish/
*.Publish.xml
*.PublishSettings

# Resharper
*.DotSettings.user

# NuGet
*.nupkg
.nuget/packages/
.nuget/package.config
project.lock.json
project.fragment.lock.json
artifacts/

# Log Files
*.log
*.tlog
*.err
*.out

# Web Files
node_modules/
bower_components/
jspm_packages/
wwwroot/node_modules/

# Coverage
coverage/
*.coverage
*.coveragexml
*.cov
*.gcov

# Tools
*.cache
*.npm
*.yarn
*.env

# Miscellaneous
desktop.ini
Thumbs.db
ehthumbs.db
*.log
*.pfx
*.key
*.pub
*.cer
*.crt

# Visual Studio Installer
.vsconfig
