USE [master]
GO
/****** Object:  Database [SERVICIOSPROFESIONALES1]    Script Date: 21/2/2025 9:52:13 p. m. ******/
CREATE DATABASE [SERVICIOSPROFESIONALES1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SERVICIOSPROFESIONALES1', FILENAME = N'C:\Users\Dxnny\Documents\SQLDATA\SERVICIOSPROFESIONALES1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SERVICIOSPROFESIONALES1_log', FILENAME = N'C:\Users\Dxnny\Documents\SQLDATA\SERVICIOSPROFESIONALES1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SERVICIOSPROFESIONALES1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SERVICIOSPROFESIONALES1]
GO
/****** Object:  Table [dbo].[Especializaciones]    Script Date: 21/2/2025 9:52:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especializaciones](
	[id_especializacion] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_especializacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Etiqueta]    Script Date: 21/2/2025 9:52:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etiqueta](
	[id_etiqueta] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_etiqueta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialServicios]    Script Date: 21/2/2025 9:52:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialServicios](
	[id_historial] [int] IDENTITY(1,1) NOT NULL,
	[id_solicitud] [int] NOT NULL,
	[id_proveedor] [int] NULL,
	[estadoProgreso] [varchar](15) NOT NULL,
	[fecha_cambio] [datetime] NULL,
	[comentario] [varchar](500) NULL,
	[estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_historial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificaciones]    Script Date: 21/2/2025 9:52:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificaciones](
	[id_notificacion] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[tipo] [varchar](20) NULL,
	[mensaje] [varchar](500) NOT NULL,
	[fecha_envio] [datetime] NULL,
	[leida] [bit] NULL,
	[estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_notificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProveedorEtiqueta]    Script Date: 21/2/2025 9:52:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProveedorEtiqueta](
	[id_ProveedorEtiqueta] [int] IDENTITY(1,1) NOT NULL,
	[id_proveedor] [int] NOT NULL,
	[id_etiqueta] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ProveedorEtiqueta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProveedorServicio]    Script Date: 21/2/2025 9:52:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProveedorServicio](
	[id_proveedor] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NULL,
	[id_especializacion] [int] NOT NULL,
	[descripcion_perfil] [varchar](500) NULL,
	[disponibilidad] [varchar](15) NULL,
	[calificacion_promedio] [decimal](3, 2) NULL,
	[latitud] [decimal](10, 6) NULL,
	[longitud] [decimal](10, 6) NULL,
	[direccion] [varchar](250) NOT NULL,
	[fecha_Registro] [datetime] NULL,
	[fecha_Nacimiento] [datetime] NULL,
	[correo] [varchar](150) NOT NULL,
	[telefono] [varchar](20) NOT NULL,
	[sexo] [varchar](10) NOT NULL,
	[estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicios]    Script Date: 21/2/2025 9:52:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicios](
	[id_servicio] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](500) NULL,
	[id_categoria] [int] NOT NULL,
	[estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiciosCategoria]    Script Date: 21/2/2025 9:52:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiciosCategoria](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](500) NULL,
	[estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Solicitante]    Script Date: 21/2/2025 9:52:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solicitante](
	[id_solicitante] [int] IDENTITY(1,1) NOT NULL,
	[nombre_completo] [varchar](300) NOT NULL,
	[id_usuario] [int] NULL,
	[direccion] [varchar](250) NOT NULL,
	[fecha_Registro] [datetime] NULL,
	[fecha_Nacimiento] [datetime] NULL,
	[correo] [varchar](150) NOT NULL,
	[telefono] [varchar](20) NOT NULL,
	[sexo] [varchar](10) NOT NULL,
	[estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_solicitante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Solicitudes]    Script Date: 21/2/2025 9:52:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solicitudes](
	[id_solicitud] [int] IDENTITY(1,1) NOT NULL,
	[id_solicitante] [int] NULL,
	[id_servicio] [int] NULL,
	[id_proveedor] [int] NULL,
	[fecha_solicitud] [datetime] NULL,
	[fecha_servicio] [datetime] NOT NULL,
	[estado] [varchar](15) NULL,
	[detalles] [varchar](1000) NULL,
	[direccion_servicio] [varchar](255) NULL,
	[metodo_pago] [varchar](15) NULL,
	[costo] [decimal](10, 2) NULL,
	[calificacion] [int] NULL,
	[comentario_calificacion] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_solicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 21/2/2025 9:52:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[contrasena] [varchar](255) NOT NULL,
	[fecha_Registro] [datetime] NULL,
	[descripcion] [varchar](250) NULL,
	[rol] [varchar](20) NOT NULL,
	[estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HistorialServicios] ADD  DEFAULT (getdate()) FOR [fecha_cambio]
GO
ALTER TABLE [dbo].[HistorialServicios] ADD  DEFAULT ('Activo') FOR [estado]
GO
ALTER TABLE [dbo].[Notificaciones] ADD  DEFAULT (getdate()) FOR [fecha_envio]
GO
ALTER TABLE [dbo].[Notificaciones] ADD  DEFAULT ((0)) FOR [leida]
GO
ALTER TABLE [dbo].[Notificaciones] ADD  DEFAULT ('Activo') FOR [estado]
GO
ALTER TABLE [dbo].[ProveedorServicio] ADD  DEFAULT ('DISPONIBLE') FOR [disponibilidad]
GO
ALTER TABLE [dbo].[ProveedorServicio] ADD  DEFAULT ((0.00)) FOR [calificacion_promedio]
GO
ALTER TABLE [dbo].[ProveedorServicio] ADD  DEFAULT (getdate()) FOR [fecha_Registro]
GO
ALTER TABLE [dbo].[ProveedorServicio] ADD  DEFAULT ('Activo') FOR [estado]
GO
ALTER TABLE [dbo].[Servicios] ADD  DEFAULT ('Activo') FOR [estado]
GO
ALTER TABLE [dbo].[ServiciosCategoria] ADD  DEFAULT ('Activo') FOR [estado]
GO
ALTER TABLE [dbo].[Solicitante] ADD  DEFAULT (getdate()) FOR [fecha_Registro]
GO
ALTER TABLE [dbo].[Solicitante] ADD  DEFAULT ('Activo') FOR [estado]
GO
ALTER TABLE [dbo].[Solicitudes] ADD  DEFAULT (getdate()) FOR [fecha_solicitud]
GO
ALTER TABLE [dbo].[Solicitudes] ADD  DEFAULT ('PENDIENTE') FOR [estado]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT (getdate()) FOR [fecha_Registro]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ('Activo') FOR [estado]
GO
ALTER TABLE [dbo].[HistorialServicios]  WITH CHECK ADD FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[ProveedorServicio] ([id_proveedor])
GO
ALTER TABLE [dbo].[HistorialServicios]  WITH CHECK ADD FOREIGN KEY([id_solicitud])
REFERENCES [dbo].[Solicitudes] ([id_solicitud])
GO
ALTER TABLE [dbo].[Notificaciones]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[ProveedorEtiqueta]  WITH CHECK ADD FOREIGN KEY([id_etiqueta])
REFERENCES [dbo].[Etiqueta] ([id_etiqueta])
GO
ALTER TABLE [dbo].[ProveedorEtiqueta]  WITH CHECK ADD FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[ProveedorServicio] ([id_proveedor])
GO
ALTER TABLE [dbo].[ProveedorServicio]  WITH CHECK ADD FOREIGN KEY([id_especializacion])
REFERENCES [dbo].[Especializaciones] ([id_especializacion])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProveedorServicio]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Servicios]  WITH CHECK ADD FOREIGN KEY([id_categoria])
REFERENCES [dbo].[ServiciosCategoria] ([id_categoria])
GO
ALTER TABLE [dbo].[Solicitante]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Solicitudes]  WITH CHECK ADD FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[ProveedorServicio] ([id_proveedor])
GO
ALTER TABLE [dbo].[Solicitudes]  WITH CHECK ADD FOREIGN KEY([id_servicio])
REFERENCES [dbo].[Servicios] ([id_servicio])
GO
ALTER TABLE [dbo].[Solicitudes]  WITH CHECK ADD FOREIGN KEY([id_solicitante])
REFERENCES [dbo].[Solicitante] ([id_solicitante])
GO
ALTER TABLE [dbo].[HistorialServicios]  WITH CHECK ADD CHECK  (([estadoProgreso]='CANCELADA' OR [estadoProgreso]='COMPLETADA' OR [estadoProgreso]='EN PROGRESO' OR [estadoProgreso]='ACEPTADA' OR [estadoProgreso]='PENDIENTE'))
GO
ALTER TABLE [dbo].[HistorialServicios]  WITH CHECK ADD CHECK  (([estado]='Inactivo' OR [estado]='Activo'))
GO
ALTER TABLE [dbo].[Notificaciones]  WITH CHECK ADD CHECK  (([estado]='Inactivo' OR [estado]='Activo'))
GO
ALTER TABLE [dbo].[Notificaciones]  WITH CHECK ADD CHECK  (([tipo]='ALERTA' OR [tipo]='RECORDATORIO' OR [tipo]='NUEVA SOLICITUD'))
GO
ALTER TABLE [dbo].[ProveedorServicio]  WITH CHECK ADD CHECK  (([disponibilidad]='NO DISPONIBLE' OR [disponibilidad]='OCUPADO' OR [disponibilidad]='DISPONIBLE'))
GO
ALTER TABLE [dbo].[ProveedorServicio]  WITH CHECK ADD CHECK  (([estado]='Inactivo' OR [estado]='Activo'))
GO
ALTER TABLE [dbo].[ProveedorServicio]  WITH CHECK ADD CHECK  (([sexo]='Femenino' OR [sexo]='Masculino'))
GO
ALTER TABLE [dbo].[Servicios]  WITH CHECK ADD CHECK  (([estado]='Inactivo' OR [estado]='Activo'))
GO
ALTER TABLE [dbo].[ServiciosCategoria]  WITH CHECK ADD CHECK  (([estado]='Inactivo' OR [estado]='Activo'))
GO
ALTER TABLE [dbo].[Solicitante]  WITH CHECK ADD CHECK  (([estado]='Inactivo' OR [estado]='Activo'))
GO
ALTER TABLE [dbo].[Solicitante]  WITH CHECK ADD CHECK  (([sexo]='Femenino' OR [sexo]='Masculino'))
GO
ALTER TABLE [dbo].[Solicitudes]  WITH CHECK ADD  CONSTRAINT [chk_fecha_servicio] CHECK  (([fecha_servicio]>=getdate() AND [fecha_servicio]<=dateadd(month,(6),[fecha_solicitud])))
GO
ALTER TABLE [dbo].[Solicitudes] CHECK CONSTRAINT [chk_fecha_servicio]
GO
ALTER TABLE [dbo].[Solicitudes]  WITH CHECK ADD CHECK  (([calificacion]>=(1) AND [calificacion]<=(5)))
GO
ALTER TABLE [dbo].[Solicitudes]  WITH CHECK ADD CHECK  (([estado]='CANCELADA' OR [estado]='COMPLETADA' OR [estado]='EN PROGRESO' OR [estado]='ACEPTADA' OR [estado]='PENDIENTE'))
GO
ALTER TABLE [dbo].[Solicitudes]  WITH CHECK ADD CHECK  (([metodo_pago]='EFECTIVO'))
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD CHECK  (([estado]='Inactivo' OR [estado]='Activo'))
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD CHECK  (([rol]='ADMINISTRADOR' OR [rol]='PROVEEDOR_SERVICIO' OR [rol]='SOLICITANTE'))
GO
/****** Object:  StoredProcedure [dbo].[sp_ValidarLogin]    Script Date: 21/2/2025 9:52:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ValidarLogin]
    @nombre VARCHAR(100),
    @contrasena VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Usuario WHERE nombre = @nombre AND contrasena = @contrasena AND estado = 'Activo')
    BEGIN
        SELECT id_usuario, nombre, rol, estado 
        FROM Usuario 
        WHERE nombre = @nombre AND contrasena = @contrasena;
    END
    ELSE
    BEGIN
        SELECT 'Usuario o contraseña incorrectos o cuenta inactiva' AS MensajeError;
    END
END;
GO
USE [master]
GO
